<!DOCTYPE mapper PUBLIC
	 "//mybatis.org//DTD Mapper 3.0//EN"
	 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.itbank.repository.ReviewDAO">

	<select id="selectList">
		select * from review
		where title like '%' || #{search} || '%'  
		order by idx desc
		offset #{paging.offset} rows 
		fetch next #{paging.fetch} rows only
	</select>
	
	<select id="selectCount">
		select count(*) from review
		<if test='search != null'>
			where title like '%' || #{search} || '%'
		</if>
	</select>
	
	<select id="selectOne">
		select * from review
		where idx = #{idx}
	</select>
	
	<insert id="add">
		insert into review(title, writer, content, img) values(#{title}, #{writer}, #{content}, #{img})
	</insert>
	
	<delete id="delete">
		delete review where idx = #{idx}
	</delete>
</mapper>